body{
    background-color: #fafafa;
}
html{
    --small-text-color: hsl(229, 6%, 66%);;
}
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:9vh;

}
.header-text{
    flex-direction: column;
    text-align: center;
    
    color:hsl(234, 12%, 34%)
}
.header-text > h1:nth-child(1){
    font-weight: 200;
    
}
.header-text > p{
    padding:2vh 30vw;
    color :hsl(229, 6%, 66%);
}
.cards-container{
    display: grid;
    grid-template-areas: 
    '. card2 .'
    'card1 card2 card3'
    'card1 card4 card3'
    '. card4 .';
    grid-column-gap: 2vw;
    grid-row-gap: 3vh;
    margin:10vh 10vw;
}
.card{
    box-shadow: -1px 20px 15px 0px hsla(229, 6%, 66%, 0.301);
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    padding: 3vh 3vh;
}
.card-image{
    align-self: flex-end;
    padding-top:4vh;
}
.card-text > h3{
    padding-bottom:1vh;
}
.card-text > p{
    color : var(--small-text-color)
}
.card2{

    border-top: 0.37em hsl(0, 78%, 62%) solid;
    grid-area: card2
}
.card3{
    border-top: 0.37em hsl(34, 97%, 64%) solid;
    grid-area: card3
}
.card1{
    border-top: 0.37em hsl(180, 62%, 55%) solid;
    grid-area: card1;
}
.card4{
    border-top:0.37em hsl(212, 86%, 64%) solid; 
    grid-area: card4;
}

@media only screen and (max-width:1000px){
    .cards-container{
        margin:1vh 4vw;
    }
    .header-text > p{
        padding: 2vh 5vw;
    }
}
@media only screen and (max-width:769px){
    .cards-container{
        display: grid;
        grid-template-areas: 
        'card1'
        'card2'
        'card3'
        'card4';
        margin:7vh 7vw;
    }
    .header-text > h1{
        font-size: 1.5em;
    }
}